# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/

# Build artifacts
*.o
*.swp
*~

# Python
__pycache__/
*.py[cod]

# IDE
.idea/
.vscode/
*.sublime-*
